@tailwind base;
@tailwind components;
@tailwind utilities;


#bg-image {
  background-image: url('/images/fow.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  width: max-content;
}

